<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of users | async" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ioncard-content>
            <ion-chip>
              <ion-avatar>
                <img [src]="user.picture.medium">
              </ion-avatar>
              <ion-label>{{ user.name.first }} {{ user.name.last }}</ion-label>
            </ion-chip>
            <ion-icon *ngIf = "user.gender == 'male'" name="man-outline" color = "primary"></ion-icon>
            <ion-icon *ngIf = "user.gender == 'female'" name="woman-outline" color = "danger"></ion-icon>
            <br>
            <br>
            <ion-label>{{ user.location.country}}</ion-label>
            <br>
            <br>
            <ion-label>
              Lorem fistrum condemor torpedo sexuarl de la pradera por la gloria de mi madre no 
              puedor mamaar condemor. Benemeritaar qué dise usteer va usté muy cargadoo no puedor torpedo
              mamaar diodeno a wan al ataquerl. Papaar papaar papaar papaar ese pedazo de papaar papaar 
              amatomaa.
            </ion-label>
          </ioncard-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
